/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/assets/img/sfondo.png);
  font-size: 20px;
  width: 500px;
}

/* HEADER */
header {
  margin: 20px;
  background-color: rgb(21, 101, 121);
  color: white;
  padding-block: 35px;
  text-align: center;
}

/* MAIN */

main {
  margin: 20px;
  background-color: white;
  border: solid 1px;
}
.video {
  width: 400;
  height: 400;
  margin-inline: 15px;
  margin-top: 15px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
thead {
  padding-inline: 10px;
  background-color: rgb(14, 106, 211);
  border: solid 1px;
  color: white;
  text-align: center;
}
tbody {
  border-bottom: solid 2px;
  text-align: center;
}

.zebra {
  background-color: rgb(196, 195, 195);
}
table {
  margin-inline: 50px;
  margin-top: 10px;
}

th {
  height: 60px;
  vertical-align: middle;
  width: 150px;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */
.bg-mg {
  background-color: cadetblue;
  margin: 10px;
  text-align: center;
}

/* FOOTER */
footer {
  margin: 20px;
  background-color: rgb(21, 101, 121);
  color: white;
  padding-block: 35px;
  text-align: center;
}

.bg-text {
  margin: 20px;
  background-color: rgb(21, 101, 121);
  color: white;
  padding-block: 35px;
  text-align: center;
}

h1 {
  font-size: 35px;
  text-align: center;
  padding: 5px;
}
.margin-top {
  margin: auto;
}
iframe {
  border-radius: 25px;
}
p {
  margin-top: 15px;
}

ul,
ol {
  margin-left: 50px;
}

.tx-end {
  text-align: end;
}
