/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/assets/img/sfondo.png);
  font-size: 20px;
}

.bg-text {
  margin: 20px;
  background-color: rgb(21, 101, 121);
  color: white;
  padding-block: 35px;
  text-align: center;
}

main {
  margin: 20px;
  background-color: white;
  border: solid 1px;
}

h1 {
  font-size: 35px;
}
.margin-top {
  margin: auto;
}
iframe {
  border-radius: 25px;
}
p {
  margin-top: 15px;
}

ul,
ol {
  margin-left: 50px;
}

.video {
  padding-left: 15px;
}

thead {
  padding-inline: 10px;
  background-color: rgb(181, 181, 248);
  border: solid 1px;
}
tbody {
  border-bottom: solid 2px;
}

.novit {
  background-color: cadetblue;
  margin: 10px;
  text-align: center;
}

.tx-end {
  text-align: end;
}
